.main-content {
    height: 78vh;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 36px;
    color: #777;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    color: #777;
    margin-bottom: 30px;
}

.features {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    text-align: center;
    margin: 0 30px;
}

.feature i {
    font-size: 36px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    color: #777;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
}


/* Responsive styling */
@media only screen and (max-width: 768px) {
    .main-content {
        height: auto;
    }

    .hero {
        height: 300px;
    }

    .hero-content h1 {
        font-size: 24px;
    }

    .hero-content p {
        font-size: 14px;
    }

    .btn-add {
        padding: 8px 16px;
        font-size: 14px;
    }

    .features {
        padding: 20px 0;
        flex-direction: column;
    }

    .feature {
        margin: 20px 0;
    }

    .feature i {
        font-size: 24px;
    }

    .feature h2 {
        font-size: 20px;
    }

    .feature p {
        font-size: 14px;
        margin-bottom: 20px;
    }
}
