{% extends 'base.html' %}

{% block content %}
    <div class="car-details-page">
        <h2 class="car-details-title">Car Details</h2>

        <div class="car-details-elements">
            <div class="car-details">
                <h3 class="car-info">Car Information</h3>
                <p class="car-brand">Brand: {{ object.brand }}</p>
                <p class="car-model">Model: {{ object.model }}</p>
                <p class="car-year">Year: {{ object.year }}</p>
                {% if object.odometer %}
                    <p class="car-odometer">Odometer: {{ object.odometer }}</p>
                {% endif %}
                {% if object.purchase_price %}
                    <p class="car-purchase_price">Purchase price: {{ object.purchase_price }}</p>
                {% endif %}
                {% if object.date_of_purchase %}
                    <p class="car-date_of_purchase">Date of purchase: {{ object.date_of_purchase }}</p>
                {% endif %}
                {% if object.photo %}
                    <p class="car-photo">Car photo: {{ object.photo }}</p>
                {% endif %}

                <a href="{% url 'car edit' car_id=object.pk %}" class="btn-accept">Edit Car</a>
                <a href="{% url 'car delete' car_id=object.pk %}" class="btn-reject">Delete Car</a>
            </div>

            <div class="maintenance-details">
                <h3 class="maintenance-name">Maintenance Information</h3>
                {% if maintenances %}
                    <ul class="maintenance-list">
                        {% for maintenance in maintenances %}
                            <li class="maintenance">{{ maintenance.title }} - {{ maintenance.status }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <a href="{% url 'maintenance_add' car_id=object.id %}" class="btn-add">Add Maintenance</a>
                <a href="{% url 'maintenance edit' car_id=object.id %}" class="btn-accept">Edit Maintenance</a>
            </div>

            <div class="repair-history">
                <h3 class="repair-history">Service History</h3>
                {% if repairs %}
                    <ul class="repair-list">
                        {% for repair in repairs %}
                            <li class="repair-element">{{ repair.date }} - {{ repair.description }} - Cost {{ repair.cost }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="no-repair">No repair history available.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
