{% extends 'base.html' %}

{% block content %}
    <section class="hero">
        <div class="hero-content">
            <h1>Welcome to My Car Care</h1>
            <p>Your reliable partner for car maintenance</p>
            <a href="{% url 'learn more' %}" class="btn-add">Learn More</a>
        </div>
    </section>

    <section class="features">
        <div class="feature">
            <i class="fa-solid fa-wrench"></i>
            <h2>Quality Service:</h2>
            <p>
                Expert Technicians: Our team of skilled technicians is dedicated to providing high-quality car
                maintenance services, ensuring your vehicle runs smoothly and safely.
            </p>
            <p>
                Comprehensive Inspections: We offer thorough inspections to identify any issues with your car and
                provide reliable solutions to keep it in top condition.
            </p>
            <p>
                Reliable Repairs: Trust us for professional repairs and services that meet all your car's requirements,
                ensuring a worry-free driving experience.
            </p>
        </div>

        <div class="feature">
            <i class="fas fa-clock"></i>
            <h2>Fast Processing:</h2>
            <p>
                Quick Turnaround: We value your time and aim to provide efficient car maintenance services with a quick
                turnaround time.
            </p>
            <p>
                Express Solutions: For minor repairs and services, we offer express solutions to get your car back on
                the road promptly.
            </p>
            <p>
                Easy Scheduling: Our user-friendly appointment booking system makes it convenient for you to schedule
                your car maintenance at your preferred time.
            </p>
        </div>

        <div class="feature">
            <i class="fas fa-money-bill"></i>
            <h2>Customer Satisfaction:</h2>
            <p>
                Personalized Approach: We treat each customer with individual attention, understanding their specific needs and providing tailored car care solutions.
            </p>
            <p>
                Excellent Customer Support: Our friendly staff is here to assist you throughout the car maintenance process and address any queries you may have.
            </p>
            <p>
                Customer Testimonials: Hear what our satisfied customers have to say about their experience with My Car Care and the quality of our services.
            </p>
        </div>
    </section>
{% endblock %}
