{% extends 'base.html' %}

{% block content %}
    <div class="main-section">
        <section class="about-section">
            <h2 class="learn-header">About Our Services:</h2>
            <p class="learn-paragraph">
                Welcome to My Car Care, your one-stop solution for all your car maintenance needs. Our dedicated team of
                expert technicians is committed to providing top-notch services to keep your vehicle
                running smoothly and safely. From routine inspections to major repairs, we've got you covered. Trust us
                to
                take care of your car, so you can enjoy a worry-free driving experience.
            </p>
        </section>

        <section class="expert-tehnicians-section">
            <h2 class="learn-header">Expert Technicians:</h2>
            <p class="learn-paragraph">
                At My Car Care, we take pride in our team of highly skilled technicians. With years of experience and
                extensive training, our experts are well-equipped to handle any car maintenance task. Rest assured that
                your
                vehicle will be in the hands of professionals who are passionate about delivering exceptional service.

            </p>
        </section>

        <section class="customer-testimonials-section">
            <h2 class="learn-header">Customer Testimonials:</h2>
            <p class="learn-paragraph testimonials-paragraph">
                Don't just take our word for it – hear what our customers have to say about their experience with My Car
                Care:

            </p>
            <p class="learn-paragraph testimonials-paragraph">
                "Outstanding service! My car feels like new after the maintenance. Highly recommended!" - John D.
            </p>
            <p class="learn-paragraph testimonials-paragraph">
                "I've been coming here for years, and they never disappoint. Honest, reliable, and friendly!" - Sarah L.
            </p>
            <p class="learn-paragraph testimonials-paragraph">
                "My Car Care saved the day! Quick and efficient service when I needed it the most." - Michael R.
            </p>
        </section>

        <section class="quality-assurance-section">
            <h2 class="learn-header">Quality Assurance:</h2>
            <p class="learn-paragraph">
                At My Car Care, quality is our priority. We use only top-quality products and the latest diagnostic
                tools to
                ensure precise and effective car maintenance. Our state-of-the-art facility is equipped to handle a wide
                range of vehicles, making sure every customer receives the best care possible.

            </p>
        </section>

        <section class="competitive-pricing-section">
            <h2 class="learn-header">Competitive Pricing:</h2>
            <p class="learn-paragraph">
                Quality service shouldn't break the bank. At My Car Care, we offer competitive pricing without
                compromising
                on the excellence of our work. Discover cost-effective solutions for all your car maintenance needs, and
                enjoy peace of mind knowing you're getting the best value.
            </p>
        </section>

        <section class="booking-process-section">
            <h2 class="learn-header">Booking Process:</h2>
            <p class="learn-paragraph">
                Scheduling your car maintenance is hassle-free with My Car Care. You can easily book an appointment
                online
                through our user-friendly website. Alternatively, give us a call, and our friendly staff will assist you
                in
                finding a convenient time for your visit.
            </p>
        </section>

        <section class="contact-information-section">
            <h2 class="learn-header">Contact information:</h2>
            <p class="learn-paragraph contact-information-paragraph">
                Ready to give your car the care it deserves? Get in touch with us today:
            </p>
            <p class="learn-paragraph contact-information-paragraph phone-paragraph">
                Phone: (359) 889-876-543
            </p>
            <p class="learn-paragraph contact-information-paragraph email-paragraph">
                Email: info@mycarcare.com
            </p>
            <p class="learn-paragraph contact-information-paragraph address-paragraph">
                Visit our location: 123 Tsarigradsko shose Street, Sofia, Bulgaria
            </p>
        </section>
    </div>
{% endblock %}
