{% extends 'base.html' %}
{% load placeholder_tag %}

{% block content %}
    <div class="login_wrapper">
        <div class="login-option">
            <h1>Login page</h1>

            <form action="{% url 'login user' %}" method="post">
                <p>username: {{ form.username|placeholder:'Enter username:' }}</p>
                <p>password: {{ form.password|placeholder:'Enter password:' }}</p>

                <input type="hidden" value="{{ next }}" name="next"/>

                {% csrf_token %}

                <button type="submit">Log in</button>
            </form>
        </div>

        <div class="register-option">
            <p>Don't have account? <a class="register-button" href="{% url 'register user' %}?next={{ next }}">Register</a></p>
        </div>
    </div>
{% endblock %}
