{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <div class="profile-left">
            <div class="image">
                <img src="{{ profile_image }}" alt="Profile Picture">
            </div>
        </div>
        <div class="profile-right">
            <h2>{{ object.username }}</h2>
            <p>Cars: <span class="car-count">{{ cars.count }}</span></p>

            <h3 class="names">
                {% if object.full_name is not None %}
                    {{ object.full_name }}
                {% else %}
                    No names
                {% endif %}
            </h3>
            <p>{{ object.email }}</p>

            <div class="button-group">
                <a href="{% url 'profile edit' pk=object.pk %}" class="btn-accept">Edit Profile</a>
                <a href="{% url 'profile delete' pk=object.pk %}" class="btn-reject">Delete Profile</a>
            </div>
        </div>
    </div>
{% endblock %}
