{% extends 'base.html' %}

{% block content %}
    <div class="profile-edit-container">
        <h2 class="profile-edit-title">Edit Profile</h2>
        <form class="profile-form" method="post" action="{% url 'profile edit' pk=object.pk %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-accept">Save Changes</button>
            <a href="{% url 'profile details' object.pk %}" class="btn-reject">Cancel</a>
        </form>
    </div>
{% endblock %}
