{% extends 'base.html' %}

{% block content %}
    <h2>Maintenance</h2>

    {% if maintenances %}
        <ul class="maintenance-list">
            {% for maintenance in maintenances %}
                <li class="maintenance-item">
                    <h3 class="maintenance-title">{{ maintenance.title }}</h3>
                    <p class="maintenance-description">{{ maintenance.description }}</p>
                    <p class="maintenance-date">Date: {{ maintenance.date }}</p>
                    <a href="{% url 'maintenance edit' maintenance_id=maintenance.id %}" class="btn-accept">Edit
                        Maintenance</a>
                    <a href="{% url 'maintenance delete' maintenance_id=maintenance.id %}" class="btn-reject">Delete
                        Maintenance</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-maintenance">No maintenance records available.</p>
    {% endif %}

    <h2>Service History</h2>

    {% if repairs %}
        <ul class="repair-list">
            {% for repair in repairs %}
                <li class="repair-item">
                    <h3 class="repair-title">{{ repair.car }} - {{ repair.date }}</h3>
                    <p class="repair-description">{{ repair.description }}</p>
                    <a href="{% url 'history edit' repair_id=repair.pk %}" class="btn-accept">Edit repair</a>
                    <a href="{% url 'history delete' repair_id=repair.pk %}" class="btn-reject">Delete repair</a>
                </li>
            {% endfor %}

        </ul>
    {% else %}
        <p class="no-repair">No repair records available.</p>
    {% endif %}
{% endblock %}
