{% extends 'base.html' %}

{% block content %}
    <div class="maintenance-delete-page">
        <h2 class="maintenance-delete-title">Delete Maintenance</h2>
        <p class="maintenance-delete-text">Are you sure you want to delete this maintenance?</p>

        <form class="maintenance-delete-form" method="post">
            {% csrf_token %}
            <input type="submit" value="Delete" class="btn-accept">
            <a href="{% url 'maintenance' %}" class="btn-reject">Cancel</a>
        </form>
    </div>
{% endblock %}
