.car-details-page {
    margin: 0 auto;
    padding: 20px;
}

.car-details-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.car-details-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.car-details,
.maintenance-details,
.repair-history {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.car-info {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.car-brand,
.car-model,
.car-year,
.car-odometer,
.car-purchase_price,
.car-date_of_purchase,
.car-photo {
    margin-bottom: 5px;
    color: #777;
}

.maintenance-name {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.maintenance-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.maintenance {
    margin-bottom: 5px;
    color: #777;
}

.repair-history {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.repair-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.repair-element {
    margin-bottom: 5px;
    color: #777;
}

.no-repair {
    color: #777;
    margin: 5px 0;
}


/* Responsive styling */
@media only screen and (max-width: 768px) {
    .car-details-elements {
        grid-template-columns: 1fr;
    }

    .car-details,
    .maintenance-details,
    .repair-history {
        margin-bottom: 20px;
    }

    .car-details,
    .maintenance-details,
    .repair-history {
        padding: 10px;
    }

    .car-info,
    .maintenance-name,
    .repair-history {
        font-size: 18px;
    }

    .maintenance,
    .repair-element {
        font-size: 16px;
    }
}
