.car-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 70vh;
}

.car-details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px;
}

.car-details-elements {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.car-details,
.maintenance-details,
.repair-history {
  flex-basis: calc(33.33% - 300px);
  margin-bottom: 20px;
}

.car-details .car-info {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-details .car-brand,
.car-details .car-model,
.car-details .car-year {
  margin-bottom: 5px;
}

.maintenance-details .maintenance-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.maintenance-details .maintenance-list {
  list-style-type: none;
  padding: 0;
}

.maintenance-details .maintenance, a {
  margin-bottom: 5px;
}

.repair-history-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.repair-history .repair-list {
  list-style-type: none;
  padding: 0;
}

.repair-history .repair-element {
  margin-bottom: 5px;
}

.no-repair {
  color: #999;
  font-style: italic;
}

.maintenance-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.car-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
