footer {
    color: #333;
    padding: 20px;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content h3 {
    margin: 0;
}

.footer-left p,
.footer-right p {
    margin: 0;
}

.center {
    text-align: center;
}

.footer-left a,
.footer-right a {
    text-decoration: none;
}

.left-footer-side-paragraph {
    display: inline-block;
    margin: 6px;
    font-size: 24px;
}

i {
    color: black;
}
