.hero {
    background-image: url("staticfiles/images/pexels-artem-podrez-8986148.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.features {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature {
    text-align: center;
    margin: 0 30px;
}

.feature i {
    font-size: 36px;
    color: #e74c3c;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #777;
    margin-bottom: 30px;
}
