.login_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.login-option {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

.login-form p {
    margin: 10px 0;
}

.register-option {
    text-align: center;
    margin-top: 10px;
}
