.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-left {
    margin-right: 50px;
}

.profile-left img {
    width: 175px;
    height: 175px;
    margin-top: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-right {
    font-size: 18px;
}

.names {
    margin-bottom: 10px;
}
