<footer>
    <div class="footer-content">
        <div class="footer-left">
            <h3>Contact Us</h3>
            <p>Email: zaharibakov@gmail.com</p>
            <p><a href="https://github.com/ZahariBakov">Github</a></p>
            <p><a href="https://www.linkedin.com/in/zahari-bakov-847198a0/">LinkedIn</a></p>
        </div>
        <div class="footer-right">
            <h3>Quick links</h3>
            <p><a href="{% url 'about us' %}">About Us</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 Zahari Bakov. All rights reserved.</p>
    </div>
</footer>
