{% load custom_tags %}

<nav>
    <div class="nav-left">
        <ul>
            <li>
                <a href="{% url 'index' %}">
                    <h2>My Car Care</h2>
                </a>
            </li>

            <li>
                {% if request.user.is_authenticated %}
                    <p>Hello, {{ request.user }}</p>
                {% endif %}
            </li>
        </ul>
    </div>

    <div class="nav-right">
        <ul>
            {% if request.user|user_can_see_maintenance_button %}
                <li><a href="{% url 'maintenance' %}" class="btn-accept">Maintenance</a></li>
            {% endif %}

            <li>
                <a href="{% url 'car page' %}" class="nav-button">
                    <i>Car</i>
                </a>
            </li>

            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'profile details' pk=request.user.pk %}" class="nav-button">
                        <i>Profile</i>
                    </a>
                </li>

                <li>
                    <a href="{% url 'logout user' %}" class="nav-button">
                        <i>Logout</i>
                    </a>
                </li>

            {% else %}
                <li>
                    <a href="{% url 'login user' %}" class="nav-button">
                        <i>Login</i>
                    </a>
                </li>

                <li>
                    <a href="{% url 'register user' %}" class="nav-button">
                        <i>Register</i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>